<flex-slideshow class="flexslider">
  <ul class="slides news-slideshow">
    <li style="background-image: url('images/slide1.jpg')">
      <p class="flex-caption">It finally happened! You can now find us on various social medias!</p>
    </li>
    <li style="background-image: url('images/slide2.jpg')">
      <p class="flex-caption">Our annual growth report can be seen <a href="#">here</a></p>
    </li>
    <li style="background-image: url('images/slide3.jpg')">
      <p class="flex-caption">This is the third image</p>
    </li>
  </ul>
</flex-slideshow>

<div class="row">
  <main class="col-xs-8">

    <h3 class="text-underline">Latest news</h3>
    <article class="news-article">
      <h4><span class="fa fa-bookmark"></span> We listened to your feedback! <small><i>Posted: {{1288323623006 | date}} by <a href="#">Richard</a></i></small></h4>
      <p>From the feedback we received from our online survey, we are happy to bring you some new features such as...</p>
    </article>
    <hr>
    <article class="news-article">
      <h4><span class="fa fa-bookmark"></span> Take our survey! <small><i>Posted: {{1288223623007 | date}} by <a href="#">Jonas</a></i></small></h4>
      <p>In order to improve our functionality and our services, we have created this online survey for you to fill...</p>
    </article>
    <hr>
  </main>
  <aside class="col-xs-4">
    <h3>Archive</h3>
    <ul>
      <li><a href="#">News #1</a></li>
    </ul>
  </aside>
</div>
