<div class="row">
  <main class="col-xs-8">
    <h3>News</h3>
    <hr>
    <flex-slideshow>
      <ul class="slides">
        <li>
          <img style="width: 100%" src="images/slide1.jpg" />
        </li>
        <li>
          <img style="width: 100%" src="images/slide2.jpg" />
        </li>
        <li>
          <img style="width: 100%" src="images/slide3.jpg" />
        </li>
      </ul>
    </flex-slideshow>
  </main>
  <aside class="col-xs-4">
    <h3>Archive</h3>
    <ul>
      <li><a href="#">News #1</a></li>
    </ul>
  </aside>
</div>
