@import url('plugins.css');

body{
  background-image: url('../images/background-coffee.jpg');
  background-attachment: fixed;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

#main-logo{
  height: 250px;
  background-image: url('../images/logo-trackwork.jpg');
  background-size: cover;
  background-position: 0% 30%;
}

#main-nav{
  padding: 5px;
}

.main-footer-nav{
  list-style-type: disc;
}

.nav-image{
  height: 25px;
  margin-right: 10px;
}

.padding-normal{
  padding: 15px;
}
.container-big{
  min-height: 500px;
}
.container-white{
  background-color: rgb(255,255,255);
}

.container-coffee{
  background-color: rgb(111, 78, 55);
  color: white;
}
.container-coffee a{
  color: white;

}

.hr-small{
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-coffee > li > a:hover,
.nav-coffee > li > a:visited,
.nav-coffee > li > a:active,
.nav-coffee > li > a:focus,
.nav-coffee > li.open,
.nav-coffee > li > a.active {
    background-color: rgb(106, 73, 50) !important;
}

.container-nopadding{
  padding: 0;
}

.text-underline{
  border-bottom: 1px solid black;
  width: 100%;
}
.text-underline-grey{
  border-bottom: 1px solid grey;
  width: 100%;
}

.info-header{
  margin-top: 0;
  color: rgb(100, 100, 100);
  text-transform: uppercase;
  font-weight: bold;
}

.news-slideshow > li{
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 100%;
}

.news-article > p{
  padding-left: 18px;
}

.profile-image{
  border: 5px double #808080;
}

.wide-100{
  width: 100%;
}
.height-100{
  height: 100%;
}

.schedule-entry{
  padding-left: 15px;
  padding-right: 15px;
}
.schedule-list{
  list-style: none;
}
.schedule-list-item{

}

.graphArea{
  height: 250px;
}
